@layer ds {
  [data-theme="brand2-light"] {
    color-scheme: light;
  }

  [data-theme="brand2-dark"] {
    color-scheme: dark;
  }

  [data-theme="brand2-light"],
  [data-theme="brand2-dark"] {
    --ds-font-family: "Roboto Flex Variable", system-ui, sans-serif;
    --ds-font-stretch: 75%;

    --ds-color-fg: light-dark(oklch(0.18 0.02 250), oklch(0.92 0.02 250));
    --ds-color-muted: light-dark(oklch(0.5 0.03 250), oklch(0.58 0.04 250));
    --ds-color-error: light-dark(oklch(0.55 0.2 30), oklch(0.65 0.2 30));
    --ds-color-border: light-dark(oklch(0.85 0.02 250), oklch(0.32 0.04 250));
    --ds-color-bg: light-dark(oklch(1 0 0), oklch(0.18 0.04 250));
    --ds-color-page: light-dark(oklch(0.97 0.005 250), oklch(0.14 0.04 250));
    --ds-color-accent: light-dark(oklch(0.55 0.2 260), oklch(0.65 0.2 260));
    --ds-color-outline: light-dark(oklch(0.55 0.2 260), oklch(0.7 0.2 260));

    --ds-l-focus: light-dark(0.2, 0.15);
    --ds-l-disabled: light-dark(0.35, -0.25);
    --ds-l-muted-disabled: light-dark(0.15, -0.1);

    --ds-radius: 0.25em; /* 4px */
    --ds-border-width: 2px;
    --ds-accordion-style: default;
    --ds-accordion-icon-position: left;
    --ds-outline-width: 2px;
    --ds-outline-offset: 2px;

    --ds-button-font-size: 1.125rem;
    --ds-button-font-size-sm: 1rem;
    --ds-button-font-weight: 700;
    --ds-button-padding-y: 0.875rem;
    --ds-button-padding-x: 1.75rem;
    --ds-button-padding-y-sm: 0.75rem;
    --ds-button-padding-x-sm: 1.5rem;
  }
}
